<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" class="icon-buttons mobile">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="nav-container">
      <!-- Logo en el centro -->
      <div class="logo">
        <img src="assets/logo-negro.png" alt="Solèr SPF">
      </div>
  
      <!-- Navegación en pantallas grandes -->
      <div class="nav-buttons">
        <ion-button>{{ 'header.home' | translate }}</ion-button>
        <ion-button>{{ 'header.competitions' | translate }}</ion-button>
        <ion-button>{{ 'header.initiation' | translate }}</ion-button>
        <ion-button>{{ 'header.training' | translate }}</ion-button>
        <ion-button>{{ 'header.admin' | translate }}</ion-button>
      </div>
    </div>


    <!-- Iconos de redes sociales -->
    <ion-buttons slot="end" class="icon-buttons">
      <ion-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>