<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" class="icon-buttons mobile">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="nav-container">
      <!-- Logo en el centro -->
      <div class="logo">
        <img src="assets/logo-negro.png" alt="Solèr SPF">
      </div>
  
      <!-- Navegación en pantallas grandes -->
      <div class="nav-buttons">
        <ion-button (click)="navigate('/home')" [ngClass]="{'active': isActive('/home')}">{{ 'header.home' | translate }}</ion-button>
        <ion-button (click)="navigate('/competitions')" [ngClass]="{'active': isActive('/competitions')}">{{ 'header.competitions' | translate }}</ion-button>
        <ion-button (click)="navigate('/competitions')" [ngClass]="{'active': isActive('/initiation')}">{{ 'header.initiation' | translate }}</ion-button>
        <ion-button (click)="navigate('/training')" [ngClass]="{'active': isActive('/training')}">{{ 'header.training' | translate }}</ion-button>
        <ion-button (click)="navigate('/admin')" [ngClass]="{'active': isActive('/admin')}" *ngIf="isAdmin">{{ 'header.admin' | translate }}</ion-button>
      </div>
    </div>


    <!-- Iconos de redes sociales -->
    <ion-buttons slot="end" class="icon-buttons">
      <ion-button class="active" (click)="openSocial('instagram')">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button class="active" (click)="openSocial('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button class="active" (click)="navigateToLogin()" *ngIf="!isLoggedIn">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button class="active" (click)="logout()" *ngIf="isLoggedIn">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>