<ion-content [fullscreen]="true">
  <div class="principal" [ngStyle]="{'background-image': 'url(' + imageHeader + ')'}"></div>

  <div class="justify-center">
    <ion-card>
      <ion-card-content>
        <ion-row class="content">
          <ion-col class="contact-info">
            <h1>{{ 'contact.title' | translate }}</h1>
            <p>{{ 'contact.description' | translate }}</p>
            <ion-row class="caracters">
              <ion-icon name="call-outline"></ion-icon>
              <p>+34 618 47 53 82</p>
            </ion-row>
            <ion-row class="caracters">
              <ion-icon name="mail-outline"></ion-icon>
              <p>vngballerina&#64;gmail.com</p>
            </ion-row>
            <ion-row class="caracters">
              <ion-icon name="location-outline"></ion-icon>
              <p>{{ 'contact.address' | translate }}</p>
            </ion-row>
          </ion-col>
          <ion-col class="contact">
            <div class="personal-data">
              <ion-input label="{{ 'contact.name' | translate }}" [(ngModel)]="name" labelPlacement="stacked" placeholder="{{ 'contact.enter_name' | translate }}" fill="outline"></ion-input>
              <ion-input label="{{ 'contact.email' | translate }}" [(ngModel)]="email" labelPlacement="stacked" placeholder="{{ 'contact.enter_email' | translate }}" type="email" fill="outline"></ion-input>
            </div>
            <ion-input label="{{ 'contact.subject' | translate }}" [(ngModel)]="subject" labelPlacement="stacked" placeholder="{{ 'contact.enter_subject' | translate }}" fill="outline"></ion-input>
            <ion-textarea label="{{ 'contact.message' | translate }}" [(ngModel)]="message" labelPlacement="stacked" placeholder="{{ 'contact.enter_message' | translate }}" fill="outline" rows="5" style="--highlight-color-focused: black;"></ion-textarea>
            <ion-button (click)="sendMessage()">{{ 'contact.send' | translate }}</ion-button>      
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
 

</ion-content>