<ion-content [fullscreen]="true">
  <div class="principal"></div>

  <div class="justify-center">
    <ion-card>
      <ion-card-content>
        <ion-row class="content">
          <ion-col class="contact-info">
            <h1>Contact Information</h1>
            <p>We’ll create high-quality linkable content and build at least 40 high-authority links.</p>
            <ion-row class="caracters">
              <ion-icon name="call-outline"></ion-icon>
              <p>+34 618 47 53 82</p>
            </ion-row>
            <ion-row class="caracters">
              <ion-icon name="mail-outline"></ion-icon>
              <p>vngballerina&#64;gmail.com</p>
            </ion-row>
            <ion-row class="caracters">
              <ion-icon name="location-outline"></ion-icon>
              <p>Carrer de l'Àncora, 31, 08800 Vilanova i la Geltrú, Barcelona</p>
            </ion-row>
          </ion-col>
          <ion-col class="contact">
            <div class="personal-data">
              <ion-input label="Your Name" labelPlacement="stacked" placeholder="Enter your name" fill="outline"></ion-input>
              <ion-input label="Your Email" labelPlacement="stacked" placeholder="Enter your email" type="email" fill="outline"></ion-input>
            </div>
            <ion-input label="Your Subject" labelPlacement="stacked" placeholder="Enter subject" fill="outline"></ion-input>
            <ion-textarea label="Message" labelPlacement="stacked" placeholder="Write your message" fill="outline" rows="5" style="--highlight-color-focused: black;"></ion-textarea>
            <ion-button>Send Message</ion-button>      
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
 

</ion-content>