
<ion-content [fullscreen]="true">
  <div class="principal"></div>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <div [ngClass]="{'cards': addingImage || editingImage}">
    <ion-card [ngClass]="{'all-width': addingImage || editingImage}">
      <ion-card-header class="ion-card-header-row">
        <div class="header-left">
          <ion-card-title>{{ 'settings.images.title' | translate }}</ion-card-title>
          <ion-card-subtitle>{{ 'settings.images.subtitle' | translate }}</ion-card-subtitle>
        </div>
        <ion-button (click)="toggleAddImage()" class="add-text-btn">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          {{ 'settings.images.add' | translate }}
        </ion-button>
      </ion-card-header>
    
      <ion-card-content>
        <ion-searchbar 
          (ionInput)="filterImages($event)" 
          [placeholder]="'general.search' | translate">
        </ion-searchbar>
        <div class="table-container" *ngIf="filteredImages.length > 0; else noData">
          <table>
            <thead>
              <tr>
                <th>{{ 'settings.texts.key' | translate }}</th>
                <th>{{ 'settings.images.link' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let image of filteredImages" (click)="toggleEditingImage(image)">
                <td>{{ image.key }}</td>
                <td>{{ image.image }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <ng-template #noData>
          <p class="no-texts">{{ 'settings.images.noData' | translate }}</p>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="addingImage" [ngClass]="{'all-width': addingImage}">
      <ion-card-header>
        <ion-card-title>{{ 'settings.images.addTitle' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'settings.images.addSubtitle' | translate }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input label="{{ 'settings.texts.key' | translate }}" labelPlacement="stacked" [(ngModel)]="newImageKey" placeholder="Ej: home.title" fill="outline"></ion-input>
        <div class="justify-center">
          <label class="custom-file-upload">
            <ion-button (click)="triggerFileInput()">
              <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              {{ 'settings.images.upload_image' | translate }}
            </ion-button>
          </label>

          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden>
        </div>
        <img *ngIf="uploadedImageUrl" [src]="uploadedImageUrl" alt="Imagen subida">
        <div class="justify-center">
          <ion-button (click)="saveImage()" class="add-text-btn">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            {{ 'general.save' | translate }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="editingImage" [ngClass]="{'all-width': editingImage}">
      <ion-card-header>
        <ion-card-title>{{ 'settings.images.editTitle' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'settings.images.addSubtitle' | translate }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div class="justify-center">
          <label class="custom-file-upload">
            <ion-button (click)="triggerFileInput()">
              <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              {{ 'settings.images.upload_image' | translate }}
            </ion-button>
          </label>

          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden>
        </div>
        <img *ngIf="uploadedImageUrl" [src]="uploadedImageUrl" alt="Imagen subida">
        <div class="justify-center">
          <ion-button (click)="updateImage()" class="add-text-btn">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            {{ 'general.save' | translate }}
          </ion-button>
          <ion-button (click)="confirmDelete()" class="add-text-btn delete">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            {{ 'general.delete' | translate }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
