<ion-content [fullscreen]="true">
  <div class="principal" [ngStyle]="{'background-image': 'url(' + imageHeader + ')'}"></div>
  @if (user) {
    <div class="content">
      <div class="profile">
        <ion-card class="profile-card">
          <div class="justify-center">
            @if (user && user.roles.includes('gimnast')) {
              <img alt="Silhouette of mountains" src="assets/icon_gymnast.jpg" width="200px"/>
            }
            @if (user && (user.roles.includes('user') || user.roles.includes('admin'))) {
              <img alt="Silhouette of mountains" src="assets/user_icon.jpg" width="200px"/>
            }
          </div>
          <ion-card-header>
            <ion-card-title>{{ user.name }} {{ user.surname }}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="profile-content">
            <div style="gap: 10px; display: flex; flex-direction: column;">
              <ion-card-subtitle>{{ user.username }}</ion-card-subtitle>
              <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
              @if (user.dni) {
                <ion-card-subtitle>DNI: {{ user.dni }}</ion-card-subtitle>
              }
              @if (user.catSalut) {
                <ion-card-subtitle>{{ 'form_registration.cat_salut' | translate }}: {{ user.catSalut }}</ion-card-subtitle>
              }
            </div>
            <div class="justify-center profile-buttons" style="gap: 20px;">
              <ion-button (click)="logout()">{{ 'profile.logout' | translate }}</ion-button>
              @if (!user.roles.includes('gimnast')) {
                <ion-button (click)="confirmDelete()" class="delete">{{ 'profile.delete_account' | translate }}</ion-button>
              }
            </div>
          </ion-card-content>
        </ion-card>

      </div>
      <div class="data">
        <ion-card class="data-card">
          <ion-card-header>
            <ion-card-title>{{ 'profile.personal_data' | translate }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="input-rows">
              <ion-input label="{{ 'form_registration.name' | translate }}*" labelPlacement="stacked" [(ngModel)]="user.name" placeholder="{{ 'form_registration.enter_name' | translate }}" fill="outline"></ion-input>
              <ion-input label="{{ 'form_registration.surnames' | translate }}*" labelPlacement="stacked" [(ngModel)]="user.surname" placeholder="{{ 'form_registration.enter_surnames' | translate }}" fill="outline"></ion-input>
            </div>
            <div class="input-rows">
              <mat-form-field appearance="outline" class="half-input">
                <mat-label>{{ 'form_registration.date_born' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="user.dateBorn">
                <mat-hint>DD/MM/AAAA</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <ion-input label="{{ 'form_registration.location' | translate }}" labelPlacement="stacked" [(ngModel)]="user.address" placeholder="{{ 'form_registration.enter_location' | translate }}" fill="outline" class="half-input location"></ion-input>
            </div>
            <div class="justify-center">
              <ion-button (click)="updateUser()">{{ 'general.save' | translate }}</ion-button>
            </div>
          </ion-card-content>
        </ion-card>

        @if (user.roles.includes('gimnast')) {
          <ion-card class="data-card">
            <ion-card-header>
              <ion-card-title>{{ 'profile.tutors_data' | translate }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <h3>{{ 'form_registration.first_tutor_data_title' | translate }}</h3>
              <div class="input-rows">
                <ion-input label="{{ 'form_registration.name' | translate }}" labelPlacement="stacked" [(ngModel)]="parents[0].name" placeholder="{{ 'form_registration.enter_name' | translate }}" fill="outline"></ion-input>
                <ion-input label="{{ 'form_registration.surnames' | translate }}" labelPlacement="stacked" [(ngModel)]="parents[0].surname" placeholder="{{ 'form_registration.enter_surnames' | translate }}" fill="outline"></ion-input>
                <ion-input label="{{ 'form_registration.telephone' | translate }}" labelPlacement="stacked" [(ngModel)]="parents[0].telephone" placeholder="{{ 'form_registration.enter_telephone' | translate }}" fill="outline"></ion-input>
              </div>
              <h3 style="margin-top: 20px;">{{ 'form_registration.second_tutor_data_title' | translate }}</h3>
              <div class="input-rows">
                <ion-input label="{{ 'form_registration.name' | translate }}" labelPlacement="stacked" [(ngModel)]="parents[1].name" placeholder="{{ 'form_registration.enter_name' | translate }}" fill="outline"></ion-input>
                <ion-input label="{{ 'form_registration.surnames' | translate }}" labelPlacement="stacked" [(ngModel)]="parents[1].surname" placeholder="{{ 'form_registration.enter_surnames' | translate }}" fill="outline"></ion-input>
                <ion-input label="{{ 'form_registration.telephone' | translate }}" labelPlacement="stacked" [(ngModel)]="parents[1].telephone" placeholder="{{ 'form_registration.enter_telephone' | translate }}" fill="outline"></ion-input>
              </div>
              <div class="justify-center" style="margin-top: 20px;">
                <ion-button (click)="updateParents()">{{ 'general.save' | translate }}</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        }

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ 'profile.preferences' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'profile.preferences_subtitle' | translate }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="preferences">
              <h2>{{ 'profile.notifications' | translate }}</h2>
              <ion-toggle [(ngModel)]="notifications" (ionChange)="updateNotifications()"></ion-toggle>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ 'profile.security' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'profile.security_subtitle' | translate }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-input type="password" label="{{ 'profile.last_password' | translate }} *" labelPlacement="stacked" [(ngModel)]="currentPassword" placeholder="{{ 'profile.enter_last_password' | translate }}" fill="outline"></ion-input>
            <ion-input type="password" label="{{ 'profile.new_password' | translate }} *" labelPlacement="stacked" [(ngModel)]="newPassword" placeholder="{{ 'profile.enter_new_password' | translate }}" fill="outline"></ion-input>
            <ion-input type="password" label="{{ 'profile.new_password' | translate }} *" labelPlacement="stacked" [(ngModel)]="repeatPassword" placeholder="{{ 'profile.enter_repeat_password' | translate }}" fill="outline"></ion-input>
            <p *ngIf="passwords_not_match" style="color: red; margin-top: 10px;" class="justify-center">{{ 'profile.passwords_not_match' | translate }}</p>
            <div class="justify-center">
              <ion-button (click)="changePassword()">{{ 'profile.change_password' | translate }}</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </div>
    </div>
  }
</ion-content>
