
<ion-content [fullscreen]="true">
  <div class="principal"></div>
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  <div [ngClass]="{'cards': addingText || editingText}">
    <ion-card [ngClass]="{'all-width': addingText || editingText}">
      <ion-card-header class="ion-card-header-row">
        <div class="header-left">
          <ion-card-title>{{ 'settings.texts.title' | translate }}</ion-card-title>
          <ion-card-subtitle>{{ 'settings.texts.subtitle' | translate }}</ion-card-subtitle>
        </div>
        <ion-button (click)="toggleAddText()" class="add-text-btn">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          {{ 'settings.texts.add' | translate }}
        </ion-button>
      </ion-card-header>

      <ion-card-content>
        <ion-searchbar
          (ionInput)="filterTexts($event)"
          [placeholder]="'general.search' | translate">
        </ion-searchbar>
        <div class="table-container" *ngIf="filteredTexts.length > 0; else noData">
          <table>
            <thead>
              <tr>
                <th>{{ 'settings.texts.key' | translate }}</th>
                <th>{{ 'settings.texts.ca' | translate }}</th>
                <th>{{ 'settings.texts.es' | translate }}</th>
                <th>{{ 'settings.texts.en' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let text of filteredTexts" (click)="toggleEditingText(text)">
                <td>{{ text.key }}</td>
                <td>{{ text.value.ca }}</td>
                <td>{{ text.value.es }}</td>
                <td>{{ text.value.en }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #noData>
          <p class="no-texts">{{ 'settings.texts.noData' | translate }}</p>
        </ng-template>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="addingText" [ngClass]="{'all-width': addingText}">
      <ion-card-header>
        <ion-card-title>{{ 'settings.texts.addTitle' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'settings.texts.addSubtitle' | translate }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-input mode="md" label="{{ 'settings.texts.key' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.key" placeholder="Ej: home.title" fill="outline"></ion-input>
        <ion-textarea label="{{ 'settings.texts.ca' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.value.ca" placeholder="Ej: Benvingut" auto-grow="true" fill="outline"></ion-textarea>
        <ion-textarea label="{{ 'settings.texts.es' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.value.es" placeholder="Ej: Bienvenido" auto-grow="true" fill="outline"></ion-textarea>
        <ion-textarea label="{{ 'settings.texts.en' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.value.en" placeholder="Ej: Welcome" auto-grow="true" fill="outline"></ion-textarea>
        <div class="justify-center">
          <ion-button (click)="saveText()" class="add-text-btn">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            {{ 'general.save' | translate }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="editingText" [ngClass]="{'all-width': editingText}">
      <ion-card-header>
        <ion-card-title>{{ 'settings.texts.editTitle' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'settings.texts.editSubtitle' | translate }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-textarea label="{{ 'settings.texts.ca' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.value.ca" placeholder="Ej: Benvingut" auto-grow="true" fill="outline"></ion-textarea>
        <ion-textarea label="{{ 'settings.texts.es' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.value.es" placeholder="Ej: Bienvenido" auto-grow="true" fill="outline"></ion-textarea>
        <ion-textarea label="{{ 'settings.texts.en' | translate }}" labelPlacement="stacked" [(ngModel)]="newText.value.en" placeholder="Ej: Welcome" auto-grow="true" fill="outline"></ion-textarea>
        <div class="justify-center">
          <ion-button (click)="updateText()" class="add-text-btn">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            {{ 'general.save' | translate }}
          </ion-button>
          <ion-button (click)="confirmDelete()" class="add-text-btn delete">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            {{ 'general.delete' | translate }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
