<ion-content [fullscreen]="true">
  <div class="principal" [ngStyle]="{'background-image': 'url(' + imageHeader + ')'}">
    <ion-col class="titleDiv">
      <h1 class="title">{{ titleHeader }}</h1>
      <p class="messageTitle">{{ messageHeader }}</p>
    </ion-col>
  </div>

  <div class="images">
    <img [src]="image1" alt="Init 1">
    <img [src]="image2" alt="Init 2">
    <img [src]="image3" alt="Init 3">
    <img [src]="image4" alt="Init 4">
    <img [src]="image5" alt="Init 5">
    <img [src]="image6" alt="Init 6">
    <img [src]="image7" alt="Init 7">
    <img [src]="image8" alt="Init 8">
    <img [src]="image9" alt="Init 9">
    <img [src]="image10" alt="Init 10">
    <img [src]="image11" alt="Init 11">
    <img [src]="image12" alt="Init 12">
  </div>

  <!-- <div class="sections-container">
    <h1 style="color: white; padding: 50px;">{{ typeTrainings }}</h1>
  </div> -->
</ion-content>