.principal {
    width: 100%;
    height: 50vh;
    background-color: rgb(201, 201, 201);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ion-card {
    position: fixed;
    top: 10vh;
    width: 80%;
    height: 85%;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;

    @media (max-width: 768px) {
        width: 90%;
    }
}

ion-card-content {
    height: 100%;
    overflow-y: auto;
}

.form-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 16px;

    @media (max-width: 768px) {
        padding: 0px;
    }
}
  
.stepper {
    width: 250px;
    background: rgba(var(--ion-color-primary-rgb), 0.3);
    padding: 20px;
    border-radius: 10px;
}
  
.step {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    opacity: 0.5;
    transition: all 0.3s ease;
}
  
.step.active {
    font-weight: bold;
    opacity: 1;
}
  
.step.completed {
    opacity: 1;
}
  
.circle {
    width: 24px;
    height: 24px;
    background-color: var(--ion-color-primary);
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
}
  
.label {
    font-size: 14px;
}
  
.form-card {
    flex: 1;
    padding-left: 24px;

    @media (max-width: 768px) {
        padding-left: 0px;
    }
}

ion-button {
    --background: var(--ion-color-primary);
    --color: black;
    --box-shadow: 0;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    text-transform: none !important;
    --border-radius: 15px; 
    transition: transform 0.3s ease-in-out;
    --border-color: var(--ion-color-primary);
    margin-right: 10px;
  
    &.second {
      --background: transparent;
      color: var(--ion-color-primary);
    }
  
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
}

.input-rows {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 10px;

    @media (max-width: 768px) {
        display: block;
    }
}

h2 {
    margin-top: 15px;
}

.step-buttons {
    display: flex; 
    justify-content: space-between; 
    margin-top: 30px;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.mid-input {
    width: 50%; 
    margin-top: 20px;

    @media (max-width: 768px) {
        width: 100%; 
    }
}

.me-rights {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 10px;
    margin-top: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
  