.principal {
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-width {
    width: 100%;
}

ion-card {
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 40px;
    margin-top: 0px;

    @media (max-width: 768px) {
        margin: 20px;
    }
}

.no-texts {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}

.ion-card-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    flex-direction: column;
}