
<ion-content [fullscreen]="true">
  <div class="principal" [ngStyle]="{'background-image': 'url(' + imageHeader + ')'}"></div>
  <div class="admin-content">
    <ion-col size="9">
      <div class="cards-div">
        <ion-card [routerLink]="'/admin/users'">
          <ion-card-header>
            <ion-card-title>{{ 'settings.users.title' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'settings.users.subtitle' | translate }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </div>
      <div class="cards-div-graphic">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Hours Activity</ion-card-title>
            <ion-card-subtitle>+3% Increase than last week</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="chart-container">
              <canvas #barChartCanvas></canvas>
            </div>
          </ion-card-content>
        </ion-card>
  
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>{{ 'settings.title' | translate }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>
              <ion-item [routerLink]="'/admin/texts'" lines="none">
                <ion-thumbnail class="icon-container" slot="start">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ 'settings.texts.title' | translate }}</h2>
                  <p>{{ 'settings.texts.subtitle' | translate }}</p>
                </ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
              
              <ion-item [routerLink]="'/admin/images'" lines="none">
                <ion-thumbnail class="icon-container" slot="start">
                  <ion-icon name="image-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ 'settings.images.title' | translate }}</h2>
                  <p>{{ 'settings.images.subtitle' | translate }}</p>
                </ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
              
              <ion-item [routerLink]="'/admin/competitions'" lines="none">
                <ion-thumbnail class="icon-container" slot="start">
                  <ion-icon name="trophy-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ 'settings.competitions.title' | translate }}</h2>
                  <p>{{ 'settings.competitions.subtitle' | translate }}</p>
                </ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>

              <ion-item [routerLink]="'/admin/exhibitions'" lines="none">
                <ion-thumbnail class="icon-container" slot="start">
                  <ion-icon name="trophy-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ 'settings.exhibitions.title' | translate }}</h2>
                  <p>{{ 'settings.exhibitions.subtitle' | translate }}</p>
                </ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>

              <ion-item [routerLink]="'/admin/trainings-type'" lines="none">
                <ion-thumbnail class="icon-container" slot="start">
                  <ion-icon name="barbell-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ 'settings.trainings_type.title' | translate }}</h2>
                  <p>{{ 'settings.trainings_type.subtitle' | translate }}</p>
                </ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
    <ion-col size="3">
      <ion-card>
        <ion-datetime [locale]="lang"></ion-datetime>
      </ion-card>
    </ion-col>
  </div>
</ion-content>
