  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}

.custom-menu {
  --background: var(--ion-color-primary);
  --ion-background-color: var(--ion-color-primary);

  @media (min-width: 768px) {
    display: none;
  }
}

.custom-menu ion-toolbar {
  --background: #e8dac8;
}

.custom-menu ion-content {
  --background: var(--ion-color-primary);
}

.custom-menu ion-list {
  background: var(--ion-color-primary);
}

.custom-menu ion-item {
  --background: transparent;
  --color: #333;
}

.custom-menu ion-item:hover {
  background: #e8dac8;
}
  
  