<ion-app>
  <ion-menu contentId="main-content" class="custom-menu" *ngIf="!isIllegalPage()">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'menu.title' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>{{ 'header.home' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/competitions" routerDirection="root">
          <ion-icon name="trophy-outline" slot="start"></ion-icon>
          <ion-label>{{ 'header.competitions' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/initiation" routerDirection="root">
          <ion-icon name="walk-outline" slot="start"></ion-icon>
          <ion-label>{{ 'header.initiation' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/training" routerDirection="root">
          <ion-icon name="barbell-outline" slot="start"></ion-icon>
          <ion-label>{{ 'header.training' | translate }}</ion-label>
        </ion-item>
        <ion-item routerLink="/admin" routerDirection="root" *ngIf="isAdmin">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>{{ 'header.admin' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <app-header class="custom-header" *ngIf="!isIllegalPage()"></app-header>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <app-custom-fab *ngIf="!isIllegalPage()"></app-custom-fab>
</ion-app>
