.principal {
  width: 100%;
  height: 80vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.titleDiv {
  padding-right: 50px;
  @media (min-width: 768px) {
    width: 50%;
    padding-right: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  height: 80%;
}

.title {
  margin-top: 100px;
  color: white;
  font-size: 55px;
}

.messageTitle {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  max-width: 800px;
}

.body {
  margin-top: 20px;
  color: black;
}

.messageBody {
  //margin-top: 20px;
  color: black;
  text-align: justify;
}

ion-button {
  --background: var(--ion-color-primary);
  --color: black;
  --box-shadow: 0;
  font-family: 'Poppins', sans-serif;
  width: 150px;
  text-transform: none !important;
  --border-radius: 15px; 
  transition: transform 0.3s ease-in-out;
  --border-color: var(--ion-color-primary);
  margin-right: 10px;

  &.second {
    --background: transparent;
    color: var(--ion-color-primary);
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.who {
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.who-title {
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    padding: 15px;
  }
}

.who-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: end;
  padding: 20px;
  flex-direction: row;
}

.who-images img {
  width: 100%; 
  height: auto;
  max-width: 250px;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.who-images img:hover {
  transform: scale(1.05);
}

.who-col {
  display: flex;
  align-items: end;

  &.mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &.web {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.title-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: end;
  align-items: end;
  padding: 20px;
  flex-direction: row;
  margin-bottom: 50px;

  img {
    width: 100%; 
    height: auto;
    max-width: 250px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.first_foto {
  margin-bottom: 200px; 
  max-width: 300px;
}

.second_foto {
  max-width: 250px;
}

.who-web {
  @media (max-width: 768px) {
    display: none;
  }
}

.who-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.sections-container {
  margin-top: 40px;
  background-color: #4b696f;
  border-radius: 20px 20px 0px 0px;
}

.product-card {
  border-radius: 15px;
  background: var(--ion-color-primary);
  padding: 10px;
  text-align: center;
  position: relative;
  max-width: 300px;
  margin-bottom: 40px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .circle-marker {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 18px;
    height: 18px;
    background-color: #4b696f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
  }

  .circle-hole {
    width: 6px;
    height: 6px;
    background-color: var(--ion-color-primary);
    border-radius: 50%;
  }

  .image-container-big {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .image-container {
    width: 70%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
  }

  .product-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  ion-card-content {
    padding: 15px;
    text-align: start;
  }

  ion-text {
    display: block;
    font-size: 14px;
    color: #333;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  strong {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
}

.sections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
