.principal {
    width: 100%;
    height: 50vh;
    background-color: rgb(201, 201, 201);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ion-card {
    position: fixed;
    top: 25vh;
    width: 80%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;

    @media (max-width: 768px) {
        top: 10vh;
        height: 85%;
        width: 90%;
    }
}

ion-card-content {
    height: 100%;
    overflow-y: auto;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    background-color: var(--ion-color-primary);
    border-radius: 15px;
    padding: 40px 30px 40px 30px;
    gap: 10px;

    p {
        text-align: justify;
    }

    @media (max-width: 768px) {
        margin-top: 20px;
        padding: 20px 30px 20px 30px;
    }
}

.caracters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.personal-data {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0px;
    }

    &.mobile {
        @media (max-width: 768px) {
            display: block;
        }
    }
}

ion-button {
    --background: var(--ion-color-primary);
    --color: black;
    --box-shadow: 0;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    text-transform: none !important;
    --border-radius: 15px; 
    transition: transform 0.3s ease-in-out;
    --border-color: var(--ion-color-primary);
    margin-top: 20px;
  
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    @media (max-width: 768px) {
        padding: 5px;
    }
}

.done-ryth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.radio-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.age {
    padding: 0;
    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.done-ryth-col {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        justify-content: left;
        margin-top: 20px;
    }
}