<div class="alert-overlay"></div>
<div class="alert-container" [ngClass]="type">
  <ion-icon class="alert-icon" [name]="getIcon()"></ion-icon>
  <div class="alert-content">
    <strong>{{ title }}</strong>
    <p>{{ message }}</p>
  </div>
  <div>
    <ion-button fill="clear" class="btn cancel" (click)="closeAlert()">
      {{ 'general.cancel' | translate }}
    </ion-button>
    <ion-button fill="clear" class="btn confirm" [ngClass]="type" (click)="confirmAlert()">
      {{ 'general.confirm' | translate }}
    </ion-button>
  </div>
</div>