/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

ion-content {
    --ion-background-color: white;
}

.custom-header {
    border-radius: 20px;
    margin: 20px;
}

.table-container {
    overflow-x: auto;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
  
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.add-text-btn {
    --border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
    width: 200px;
    --background: transparent;
    --color: black;
    --box-shadow: 0;

    &:hover {
        --border-radius: 20px;
        --background: #f0f0f0;
    }

    &.delete {
        --color: red;
    }
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: black;
}

.ion-valid.sc-ion-textarea-md-h {
    --highlight-color: black;
}

.sc-ion-input-md-h {
    --highlight-color-focused: black;
}

.no-mobile {
    @media (max-width: 768px) {
        display: none;
    }
}

.no-web {
    @media (min-width: 768px) {
        display: none;
    }
}

ion-input, ion-textarea {
    width: 100%;
    margin-top: 20px; 
    --highlight-color: black;
}
