<ion-content [fullscreen]="true">
  <div class="principal" [ngStyle]="{'background-image': 'url(' + imageHeader + ')'}"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let competition of competitions">
        <ion-card class="competition-card">
          <div class="image-container">
            <img [src]="competition.images[0]" class="competition-image"/>
          </div>
          <ion-card-content>
            <h2>{{ getTitle(competition) }}</h2>

            <p class="truncate-text">
              {{ getDescription(competition) }}
            </p>

            <a fill="clear" (click)="openCompetitionModal(competition)">
              {{ 'general.read_more' | translate }}
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
